:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

html {
  height: 100%;
  margin: 0px;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0px;
  font-family: "Proxima Nova", "SF Pro", "Roboto", "Open Sans", Helvetica;
  font-size: 18px;
  background-color: var(--primary-color);
  color: #fff;
}

h1 {
  font-size: 38px;
}

p {
  padding: 10px 0 10px 0;
}

a {
  color: #b6d2dd;
}

.s_container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.d_header {
  padding: 100px 0 20px 0;
  text-align: center;
}

.d_footer {
  background-color: rgba(20, 22, 24, 0.5);
  text-align: center;
  padding: 10px 0 10px 0;
}

.footer_image {
  width: 40px;
  height: 40px;
  box-sizing: unset;
  padding: 0 10px 0 10px;
}

.d_submenu {
  flex-grow: 1;
  padding: 10px 0px 10px 0px;
  margin: 0px 2px 0 2px;
  background-color: rgba(20, 22, 24, 0.5);
  text-align: center;
  color: #aaa;
}

.d_submenu:hover {
  background-color: rgba(20, 22, 24, 0.7);
  color: #fff;
  cursor: pointer;
}

.d_submenu_selected {
  background-color: rgba(20, 22, 24, 1);
  color: #fff;
}

.d_submenu_selected:hover {
  background-color: rgba(20, 22, 24, 1);
  cursor: default;
}

.btn {
  display: inline-block;
  border: solid;
  background-color: rgb(66, 62, 62);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transform: opacity 1s ease-in;
  height: 50px;
}

.btn:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 20px#fff;
}
